<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SemioLog</title>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <link rel="stylesheet" href="../static/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>
<body>

    <div class="app-grid">
        <aside class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h2>Semio<span>Log</span></h2>
                <button id="close-sidebar" class="mobile-only-btn">
                    <span class="material-icons-round">close</span>
                </button>
            </div>

            <nav class="sidebar-nav" id="sidebar-nav">
                </nav>

            <div class="sidebar-footer">
                <div id="sidebar-action-container">
                    </div>

                <hr class="sidebar-divider">

                <div class="footer-info-row">
                    <span class="app-version">Versão 6.0.01 Beta · Santiago</span>
                    
                    <div id="settings-popover" class="settings-popover hidden">
                        <div class="settings-item">
                            <span>Modo Escuro</span>
                            <label class="switch">
                                <input type="checkbox" id="theme-toggle">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>

                    <button id="settings-btn" class="btn-square-icon" title="Configurações">
                        <span class="material-icons-round">settings</span>
                    </button>
                </div>
            </div>
        </aside>

        <main class="main-content">
            <header class="top-bar">
                <button id="open-sidebar" class="mobile-only-btn">
                    <span class="material-icons-round">menu</span>
                </button>
                <h2 id="page-title">Início</h2>
            </header>

            <div id="app-content" class="content-area">
                </div>
        </main>
    </div>

    <script type="module" src="../static/js/app.js"></script>
</body>
</html>